<h3> Comments</h3>

<form id="comment-list">
    <h5>Add comment<textarea id="comment"></textarea></h5>
    <button type="submit" value="add">Submit comment</button>
</form>

<text id="comments"></text>
