<h2>{{pageTitle}}</h2>
<p>{{pageContent}}</p>


<form id="comment-list">
    <h5>Add comment<textarea id="comment"></textarea></h5>
    <button type="submit" value="add">Submit comment</button>
</form>
<br />
comments:
<text id="comments"></text>
